/* LESS Document */

/*###################################################
###  FadeIn effects for the slide text contents   ###
#####################################################*/

.fadeIns {
-webkit-transition: opacity 1200ms cubic-bezier(0.295, 0.785, 0.285, 0.985);
   -moz-transition: opacity 1200ms cubic-bezier(0.295, 0.785, 0.285, 0.985);
     -o-transition: opacity 1200ms cubic-bezier(0.295, 0.785, 0.285, 0.985);
        transition: opacity 1200ms cubic-bezier(0.295, 0.785, 0.285, 0.985); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.295, 0.785, 0.285, 0.985);
   -moz-transition-timing-function: cubic-bezier(0.295, 0.785, 0.285, 0.985);
     -o-transition-timing-function: cubic-bezier(0.295, 0.785, 0.285, 0.985);
        transition-timing-function: cubic-bezier(0.295, 0.785, 0.285, 0.985); /* custom */
}


html, body {
    margin:0;
    padding:0;
    height: 100% !important;
    min-height: 100% !important;
    font-family: Ubuntu;
}

p {
    margin: 0;
    padding:0;
}

@headerTransitionSpeed: 0.5s;
@logoColorTransSpeed: 0.5s;

#header svg {
    height:100%;
}

@headerHeight: 110px;

header {
	background-color:#f8f9fb;
	height: @headerHeight;
	position: fixed;
	width:100%;
	display: table;
    font-family: Lora;
	font-size: 3em;
    z-index: 1;
-webkit-transition: all @headerTransitionSpeed ease;
-moz-transition: all @headerTransitionSpeed  ease;
-o-transition: all @headerTransitionSpeed  ease;
-ms-transition: all @headerTransitionSpeed ease;
visibility: hidden;
}

#header_content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header_minimalize {
    font-size: 2.3em;
    height:80px;
-webkit-transition: all @headerTransitionSpeed  ease;
-moz-transition: all @headerTransitionSpeed  ease;
-o-transition: all @headerTransitionSpeed  ease;
-ms-transition: all @headerTransitionSpeed  ease;
}

.header_color_letters {
    color:#006600;
}

#social_logo_container, #impressum_logo_container {
    height:100%;
}
.social_logos, {
    position: absolute;
    bottom:0.2em;
    left:0.8em;
    width:200px;
}
.impressum_logos {
    position: absolute;
    bottom:0.2em;
    right:0.8em;
    width:200px;
}
.s_logo, .i_logo {     
    height:0.6em;
    width:0.6em;
    float:left;
    margin-right: 0.5em;
}

.i_logo {     
    float:right !important;
}

.s_logo:hover, .i_logo {
    cursor: pointer;
}


/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Slide 1 */
#slide-1 .bcg {
	background-image:url('../images/Our-Planet-planet-earth.jpg');
}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 200px;
    text-align: center
}



#slide-3-content-plur {
    height:100%;
    opacity: 0;
    background-color: white;
    width:60%;
    background: url('../images/melting-ice.jpg') no-repeat center center fixed;
    background-size: cover;
        background-color: black;
    opacity: 0.5;
        -webkit-background-size: cover;
            -moz-background-size: cover;
                -o-background-size: cover;
    filter: blur(5px);
        -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
                -o-filter: blur(5px);
                     -ms-filter: blur(5px);

    -webkit-mask-box-image: -webkit-linear-gradient(black 25%, transparent 35%, transparent 65%, black 75%);

.fadeIns;

}
.slide-3-content-show {
    .fadeIns;

   opacity: 1 !important;
}

#slide-3-content-container {
    float:left;
    position: relative;
    width: 100%;
    height: 100%;
}

#slide-3-content {
    .fadeIns;
    position: absolute;
    top:0%;
    width: 40%;
    height: 100%;
    opacity: 0;
}

#slide-3-content-inner-container {
    width:100%;
    height: 100%;
}
#slide-3-content-inner{
    position: absolute;
    width:90%;
    height: 70%;
    top:20%;
}

/* Slide 4 */

.homeSlideTall {
    height: 150%;
}

.curtainContainer {
    width: 100%; height: 100%;
    position: relative;
}
.curtainContainer .curtain {
    width: 100%; height: 0px;
    background-color: #000000;
    position: absolute; top: 25%; left: 0;
    opacity: 0
}

