/* LESS Document */

@headerTransitionSpeed: 0.5s;
@logoColorTransSpeed: 0.5s;

#header svg {
    height:100%;
}

/*#header svg path{
    transition: fill @logoColorTransSpeed ease;
    -webkit-transition: fill @logoColorTransSpeed ease;
    -moz-transition: fill @logoColorTransSpeed ease;
    -o-transition: fill @logoColorTransSpeed ease;
}

#header #fb_logo svg:hover path{
    fill: #3B5998;
    transition: fill @logoColorTransSpeed ease;
    -webkit-transition: fill @logoColorTransSpeed ease;
    -moz-transition: fill @logoColorTransSpeed ease;
    -o-transition: fill @logoColorTransSpeed ease;
}

#header #twitter_logo svg:hover path{
    fill: #2AA9E0;
    transition: fill @logoColorTransSpeed ease;
    -webkit-transition: fill @logoColorTransSpeed ease;
    -moz-transition: fill @logoColorTransSpeed ease;
    -o-transition: fill @logoColorTransSpeed ease;
}

#header #google_logo svg:hover path{
    fill: #DD4B39;
    transition: fill @logoColorTransSpeed ease;
    -webkit-transition: fill @logoColorTransSpeed ease;
    -moz-transition: fill @logoColorTransSpeed ease;
    -o-transition: fill @logoColorTransSpeed ease;
}*/

header {
	background-color:#f8f9fb;
	height: 110px;
	position: fixed;
	width:100%;
	display: table;
	font-size: 3em;
    z-index: 1;
-webkit-transition: all @headerTransitionSpeed ease;
-moz-transition: all @headerTransitionSpeed  ease;
-o-transition: all @headerTransitionSpeed  ease;
-ms-transition: all @headerTransitionSpeed ease;
}

#header_content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header_minimalize {
    font-size: 2.3em;
    height:80px;
-webkit-transition: all @headerTransitionSpeed  ease;
-moz-transition: all @headerTransitionSpeed  ease;
-o-transition: all @headerTransitionSpeed  ease;
-ms-transition: all @headerTransitionSpeed  ease;
}

.header_color_letters {
    color:#006600;
}

#social_logo_container, #impressum_logo_container {
    height:100%;
}
.social_logos, {
    position: absolute;
    bottom:0.2em;
    left:0.8em;
    width:200px;
}
.impressum_logos {
    position: absolute;
    bottom:0.2em;
    right:0.8em;
    width:200px;
}
.s_logo, .i_logo {     
    height:0.6em;
    width:0.6em;
    float:left;
    margin-right: 0.5em;
}

.i_logo {     
    float:right !important;
}

.s_logo:hover, .i_logo {
    cursor: pointer;
}


/* CSS */
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center;
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {
	background-image:url('../images/Our-Planet-planet-earth.jpg')
}

/* CSS - Slide 2 */
#slide-2 .bcg {
    background: none;
    background-color: #010101;
    height: 200px;
    text-align: center
}

/* Slide 1 */
#slide-3 .bcg {
    background-image:url('../images/melting-ice.jpg')
}

